
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="robots" content="noindex, nofollow">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        padding: 2rem;
        margin: 0;
        color: #111;
        background-color: #fdfdfd;
    }
    body.dark-mode {
        color: #fdfdfd;
        background-color: #1C1C1E;
    }
  </style>
  <script>
    // Check URL for fragment or query parameter
    const isDarkMode = window.location.hash === "#dark" || new URLSearchParams(window.location.search).get("darkMode") === "true";
    if (isDarkMode) {
      document.body.classList.add("dark-mode");
    }
  </script>
</head>
<body>
  <main id="content">
    {{ content }}
  </main>
</body>
</html>